@import "tailwindcss";

/* Utilidades personalizadas */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

* {
  interpolate-size: allow-keywords;
}